{% extends "main.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    <h1>{{ simulado.nome }}</h1>

<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Aluno</th>
            <th>Nota Português</th>
            <th>Nota Matemática</th>
        </tr>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td><input type="text" name="nota_portugues_{{ aluno.id }}" /></td>
            <td><input type="text" name="nota_matematica_{{ aluno.id }}" /></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Cadastrar Notas</button>
</form>

</body>
</html>
