<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Nota</title>
</head>
<body>
    <h1>Cadastrar Nota</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="nome_aluno">Nome do aluno:</label>
        <input type="text" name="nome_aluno" id="nome_aluno" step="0.1" required>
        <br>

        <label for="nota_portugues">Acertos português:</label>
        <input type="number" name="nota_portugues" id="nota_portugues" step="0.1" required>
        <br>

        <label for="nota_matematica">Acertos matemática:</label>
        <input type="number" name="nota_matematica" id="nota_matematica" step="0.1" required>
        <br>

        <button type="submit">Cadastrar Nota</button>
    </form>
</body>
</html>
