{% extends "main.html" %}


{% block content %}
<style>
      .grade-button {
      width: 90px;
      height: 40px;
      color: white;
      margin-top: 10px;  
      border-radius: 10%;
      background-color: #1d30d8;
      border: none;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
      cursor: pointer;
      transition-duration: 0.3s;
      overflow: hidden;
      position: relative;
      text-decoration: none !important;
    }
    .grade-button:hover {
      width: 120px;
      border-radius: 50px;
      transition-duration: 0.3s;
      align-items: center;
    }
    div {
       
    }
</style>

<div>
    <form method = "POST">
        {% csrf_token %}
        <button type="submit" name = "pai" class="grade-button">pai</button>
    </form>
    <form method = "POST">
        {% csrf_token %}
        <button type="submit" name = "professor" class="grade-button">professor</button>
    </form>
</div>

{% endblock content %}