<center>
    <h1>LOGIN professor</h1>
    <div>
        <form method = 'POST'>
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name = "nome" required>
            <br>
            <label for="senha">Senha:</label>
            <input type="password" name = "senha" required>
            <br>
            <button type="submit" name = "entrar">Entrar</button>
        </form>
        
        <form method = "POST">
            {% csrf_token %}
            <button type="submit" name = "pai">PAI</button>
        </form>
    </div>
    </center>