{% block content %}
    <h1>Lista de Turmas</h1>
    <ul>
        {% for turma in turmas %}
            <li>
                {{ turma.nome }}
                <a href="{% url 'cadastrar_aluno' turma.id %}">Cadastrar Aluno</a>
            </li>
        {% empty %}
            <p>Não há turmas cadastradas.</p>
        {% endfor %}
    </ul>

    <h2>Cadastrar Nova Turma</h2>
    <form method="POST" action="{% url 'cadastrar_turma' %}">
        {% csrf_token %}
        <label for="nome">Nome da Turma:</label>
        <input type="text" id="nome" name="cadastrar_turma" required>
        <button type="submit">Cadastrar Turma</button>
    </form>
{% endblock %}
